/* *{
    outline: auto;
} */
body{
    margin:0;
}
.nav{
    background-color: #1F1F1F;
    color:#F8F8F8;
    padding: 10px 10px;
    font-size: 30px;
}
.main{
    display: flex;
    min-height: 100vh;
    width: 100%;
    margin:0px;

}
.books{
    flex:3 ;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 5px;
    background-color: #00c3ff4c;
    
}
.add{
    flex:1 ;
}
.card{
    width: 300px;
    height: 270px;
    box-sizing: border-box;
    border: groove rgba(141, 249, 255, 0.704) 2px;
    border-radius: 10px;
    background-color: #e1f3f3;
    color:rgb(31, 32, 34);
}
.card>div{
    margin:20px 20px;
}
.title{
    font-size: 34px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.detail{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.detailhead{
    font-weight: bold;
}

.status{
    display: inline;
    padding: 5px 10px;
    border:solid 1px black;
    background-color: rgba(0, 255, 13, 0.843);
    font-size: 20px;
    font-weight: bold;
    color:rgb(0, 0, 0);
    border-radius: 5px;
}
